#about {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.about__tecnologias-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about__tecnologias-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

/* Icons */
.about__tecnologias-icon {
    margin-right: 1.5rem !important;
    color: rgb(103, 103, 103);
    transition: transform 1s;
}

.about__tecnologias-icon:hover {
    transform: scale(1.5);
}

#html-icon:hover {
    color: #e34c26
}

#css-icon:hover {
    color: #264de4;
}

#js-icon:hover {
    color: #f0db4f;
}

#vue-icon:hover {
    color: #41B883;
}

#bootstrap-icon:hover {
    color: #563d7c;   
}

#sass-icon:hover {
    color: #CD6799;
}

#git-icon:hover {
    color: #f34f29;
}

#react-icon:hover {
    color: #61DBFB;
}

#angular-icon:hover {
    color: #B52E31;
}

#styled-icon {
    width: 2rem;
    margin-right: 1.5rem;
    transition: transform 1s;
}

#material-icon {
    width: 1.8rem;
    margin-right: 1.5rem;
    transition: transform 1s;
}

#ts-icon {
    width: 1.8rem;
    margin-right: 1.5rem;
    transition: transform 1s;
}

#ts-icon:hover, #material-icon:hover, #styled-icon:hover {
    transform: scale(1.5);
}

@media screen and (max-width: 600px) {
    .about__tecnologias-list {
        align-items: center;
        justify-content: center;
    }

    .about__tecnologias-icon, #styled-icon, #material-icon, #ts-icon {
        margin: 1rem;
    }

}