.about__tecnologias-list {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.about__tecnologias-icon {
    margin: 1rem;
}

#html-icon:hover {
    color: #e34c26
}

#css-icon:hover {
    color: #264de4;
}

#js-icon:hover {
    color: #f0db4f;
}

#vue-icon:hover {
    color: #41B883;
}

#bootstrap-icon:hover {
    color: #563d7c;   
}

#sass-icon:hover {
    color: #CD6799;
}

#git-icon:hover {
    color: #f34f29;
}