#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
}

.contact__button:hover {
    background-color: #000000;
    color: #FFFFFF;
}

@media screen and (max-width: 600px) {
    #contact {
        padding-bottom: 5rem;
    }
}